/* Google fonts MONTSERRAT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
:root{
  --color: #282828;
  --white: #fff;
  --red: #ff1920;
  --green: #10ff10;
  --gold: #f0c040;
  --shd: 0 0 6px 1px #ccc
}
.dark{
  --color: #fff;
  --white: #282828;
}
body{
  background: var(--white);
  color: var(--color);
  font-family: 'Montserrat', sans-serif;
  transition: all .4s;
  font-size: 14px;
  font-weight: 600;
}
/* login page */